@{
    ViewData["Title"] = "About page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Start Team-Style-Default Area  -->
<div class="rwt-team-area rn-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h3><span class="theme-gradient">Our Team</span></h3>
                </div>
            </div>
        </div>
        <div class="row row--15">
            <div class="col-lg-4 col-md-6 col-12 mt--30" data-sal="slide-up" data-sal-duration="700">
                <div class="rn-team team-style-default">
                    <div class="inner">
                        <div class="thumbnail">
                            <img src="~/images/team-01.jpg" height = "240" width = "180" >
                        </div>
                        <div class="content">
                            <h2 class="title">Anjelo Jotov</h2>
                            <h6 class="subtitle theme-gradient">Developer</h6>
                            
                            <p class="description">
                                Whether you think you can or can't - you're right.
                            </p>
                            <ul class="social-icon social-default icon-naked mt--20">
                                <li>
                                    <a href="https://gitlab.com/Albaneca">
                                        <i class="fa fa-gitlab" style="font-size:24px"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team-Style-Default Area  -->